body {
    margin: 0;
}

.logo {
    width: 100px;
    box-sizing: border-box;
}

.navbar-primary {
    font-size: 20px;
    border: 2px solid rgba(245, 178, 101, 0.267);
    color: rgba(245, 178, 101, 0.267);
}

button:hover {
    background-color: white;
    cursor: pointer;
}

.navbar-align {
    text-align: right;
}



background-color: rgba(245, 178, 101, 0.267);
#e7e7e7
