:root {
    --branding-color: #ff7561;
    --primary-color: hsla(8, 100%, 69%, 0.129);
    --secondary-color: rgba(245, 178, 102, 0.267);
    --background-color: rgba(255, 255, 255, 0.2);
    --text-color: rgb(107, 103, 103);
}
.fixed-bar {
    font-size: 15px;
    padding-left: 20%;
}

.logo {
    max-height: 40px;
}


.navbar-align {
    text-align: right;
    padding-left: 50%;
}

.active {
    color: var(--branding-color) !important;
}

.blog-box {
    padding: 80px 20px;
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
    margin: 0;
}

h1 {
    font-size: 90px;
}

.row {
    margin: 50px;
}

.leftcolumn {
    float: left;
    width: 75%;
    border-right: 1px solid var(--branding-color);
    padding-right: 60px;
  }

.rightcolumn {
    float: left;
    width: 25%;
    padding: 0 20px 0 50px;
  }

.rightcolumn h2 {
    font-size: 35px;
}

.sign {
    margin-top: 50px;
    grid-template-columns: 2fr 1fr;
}

.sign h3 {
    font-size: 20px;
    text-align: right;
}

.sign-img {
    display: flex;
    width: 80px;
}


.social-box {
    padding: 20px;
}


.img-profile {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-space {
    padding: 0 0 20px 0;
}

.text-center {
    text-align: center;
    }

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    opacity: 0.3;
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-gap: 30px;
}

.grid-2-columns {
    grid-template-columns: 1fr 2fr;
    
}

.grid-2-columns-second-narrow {
    grid-template-columns: 2fr 1fr;
    
}

.high-text {
    margin: 40px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}


.left-note {
    text-align: center;
    padding: 20px 0;
    }

.img-blog-right {
    width: 300px;
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(172, 171, 171);
    }

.post-desc {
    padding-top: 30px;
    text-align: justify;
    font-size: 20px;
}

.text-grid {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.social-links-blog a:hover {
    color: var(--secondary-color);
    background: white;
}

.social-links-blog a{
    margin: 20px 10px;
    color: white;
    background: var(--branding-color);;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.posts-pop {
    margin: 70px 0;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 30px 0;
  }

.btn-card {
        display: block;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 16px;
        background-color: #ff7661a8;
        text-decoration: none;
}

.btn-card:hover {
    color: white;
    background-color: var(--branding-color);
}

.btn-read {
    color: var(--branding-color);
    background: white;
    border: 1px solid var(--branding-color);
    padding: 5px 30px 8px;
    border-radius: 10px;
}

.btn-read:hover {
    color: white;
    background-color: var(--branding-color);
}

.copyr {
    padding: 20px 0px 20px 0;
    font-size: 12px;
    color: var(--text-color);
}



@media (max-width: 900px) {

    .fixed-bar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-align {
        padding-left: 0;
        margin-left: 0;
    }

    h2 {
        font-size: 30px;
    }

    p {
        text-align: left;
        font-size: 16px;
    }

    .rightcolumn p {
        text-align: center;
    }


    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
        border-right: none;
      }
    
    .leftcolumn {
        padding-bottom: 25px;
        margin-bottom: 50px;
        border-bottom: 1px solid var(--branding-color);
    }


    .img-profile {
        width: 150px;
      }

    .high-text {
        font-size: 25px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .sign {
        text-align: right;
    }

    .sign h3 {
        font-size: 15px;
    }

    .sign img {
        width: 70px;
        float: right;
    }

    }