:root {
    --branding-color: #ff7561;
    --primary-color: hsla(8, 100%, 69%, 0.129);
    --secondary-color: hsla(32, 88%, 68%, 0.267);
    --background-color: rgba(255, 255, 255, 0.2);
    --text-color: rgb(107, 103, 103);
}



.fixed-bar {
    font-size: 15px;
    padding-left: 20%;
}

.logo {
    max-height: 40px;
}


.navbar-align {
    text-align: right;
    padding-left: 50%;
}

.active {
    color: var(--branding-color) !important;
}


/* =========================
   HERO SECTION
========================= */

.top-body {
    padding: 100px 20px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),url(bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.box {
    color: white;

}

.box h1 {
    font-size: 80px;
}

.box h2 {
    font-size: 25px;
}


h3 {
    padding: 0;
}

/* =========================
   ABOUT TUC SECTION
========================= */

.main-desc {
    max-width: 100%;
    margin: 0 auto;
    padding: 3% 10%;
} 

.text-center {
    text-align: center;
    }


.main-desc h2 {
    color: var(--branding-color);
    opacity: 1;
    font-size: 13px;
}

.main-desc p {
    font-size: 13px;
    text-align: center;
    opacity: 0.8;
}

.cta-sec {
    text-align: center;
}

.btn-cta {
  display:inline-block;
  padding:12px 20px;
  background:var(--accent);
  color:var(--branding-color);
  border-radius: 14px;
  border: 2px solid var(--branding-color);
  margin:10px;
  text-decoration:none;
}

.btn-cta:hover {
    background-color: var(--branding-color);
    color: white;
}

/* =========================
   ABOUT ME SECTION
========================= */


section.primary {
    background-color: var(--secondary-color);
    padding: 40px;
}

.grid {
    display: grid;
    grid-gap: 60px;
    }

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
    }


.about-me {
    text-align: center;
    padding: 2%;
}

.front-pic {
    width: 200px;
    border-radius: 50%;
}

.about-me-desc {
    padding: 5%;
}

.btn-card-home {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 3px;
    padding: 10px 5px;
    background-color: #ff7661a8;
    text-decoration: none;
    max-width: 300px;
    border-radius: 15px;
}

.btn-card-home:hover {
    color: white;
    background-color: var(--branding-color);
}


/* =========================
   POSTS SECTION
========================= */

    
section.secondary {
    background-color: white;
    padding: 50px 100px;
    }

section h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        letter-spacing: 5px;
        color: #272044;
        opacity: 0.3;
        text-transform: uppercase;
      }
      
section h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        color: #272044;
        margin: 0;
      }

.grid-secondary{
    display: grid;
    grid-gap: 5%;
}

.grid-3-columns {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

.card-secondary {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
   }

.img-blog {
    width: 250px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(172, 171, 171);
}

.card-body {
    padding: 20px;
    }

.btn-card {
        display: block;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 16px;
        background-color: #ff7661a8;
        text-decoration: none;
        margin-top: auto;
      }

.btn-card:hover {
    color: white;
    background-color: var(--branding-color);
}


/* =========================
   PODCAST SECTION
========================= */

.podsec-home {
    background-color: var(--secondary-color);
    padding: 60px;
}

.trazando-pod {
    width: 300px;
    text-align: center;
    margin: 0 0 0 150px;
    padding: 0;
}

.about-podcast p {
    text-align: center;
    font-size: 20px;
}

.epi-sec {
    text-align: center;
    margin-top: 35px;
}

.btn-epi {
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 3px;
    padding: 15px 50px;
    margin-top: 10px;
    background-color: #ff7661a8;
    text-decoration: none;
    max-width: 300px;
    border-radius: 15px;
}

.btn-epi:hover {
    color: white;
    background-color: var(--branding-color);
}

.about-podcast-pic {
    text-align: center;
}

.pod-pic {
    width: 300px;
    border-radius: 10px;
}


/* =========================
   GALERY SECTION
========================= */

.galery {
    height: 400px;
    padding: 0 100px;
    margin: 50px 0;
}

.instagram-embeds {
    margin: 30px 0;
    }

.grid-4-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.img-gal{
    width: 250px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(172, 171, 171);
}


/* =========================
   FOOTER SECTION
========================= */


.bottom-sec {
    width: 100%;
    padding: 20px 0px;
    background-color: rgba(245, 178, 102, 0.117);
    height: 70px;
    display: flex;
}

.social-home {
    margin: auto;
}

.bottom-sec i {
    text-align: right;
    margin: 0 10px;
    color: white;
    background:#ff7661a8;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.bottom-sec i:hover {
    color: white;
    background: var(--branding-color);
}


.copyr-home {
    padding: 10px;
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
    background-color: rgba(245, 178, 102, 0.117);
}







@media (max-width: 960px) {


/* =========================
   CHANGE TO HERO
========================= */

    .fixed-bar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-align {
        padding-left: 0;
        margin-left: 0;
    }

    .logo {
        max-height: 110px;
    }



/* =========================
   CHANGE TO ABOUT TUC
========================= */

    .box {
        font-size: 50px;
    }

    h1 {
        font-size: 45px;
    }


/* =========================
   CHANGE TO ABOUT ME
========================= */

    .about-me-desc {
        text-align: center;
    }

    .grid-primary {
        grid-template-columns: 1fr;
    }


/* =========================
   CHANGE TO POSTS
========================= */

    .grid-secondary {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

/* =========================
   CHANGE TO PODCAST
========================= */


/* =========================
   CHANGE TO GALERY
========================= */

    .galery {
        margin-bottom: 60px;
        height: 1300px;
    }

     .grid-4-columns {
        grid-template-columns: 2fr;
    }

/* =========================
   CHANGE TO FOOTER
========================= */



    .bottom-sec {
            text-align: center;
            margin-top: 0;
            background-color: rgba(245, 178, 102, 0.117);
            height: 0;
            width: 100%;
            padding: 0;
            display: block;
            bottom: 0;
        }


    .social-home{
        display: none;
    }

    
    .copyr-home p {
        padding-left: 0;
        padding-top: 25px;
    }



    }





    @media (max-width: 750px) {

    /* =========================
    CHANGE TO ABOUT ME
    ========================= */


        section.primary {
            padding: 30px 50px;
        }

        .about-me-desc {
            text-align: center;
            padding: 0;
        }

        .btn-home-sec {
            margin-left: 10%;
        }

        .grid-2-columns {
            grid-template-columns: 1fr;
        }

        .front-pic {
            width: 150px;
        }


    /* =========================
    CHANGE TO POSTS
    ========================= */

        section.secondary {
            padding: 50px 30px;
        }

        .img-blog {
            display: none;
        }

    /* =========================
    CHANGE TO PODCAST
    ========================= */
        
        section.podsec-home {
            padding: 10px 0 40px 0 ;
        }

        .about-podcast {
            margin: 0;
        }

        .trazando-pod {
            width: 250px;
            margin: 0 0 0 100px;
        }

        .about-podcast p {
            margin: 0;
            padding: 0 20px;
            font-size: 18px;
        }

        .pod-pic {
            width: 200px;
        }

    /* =========================
    CHANGE TO GALERY
    ========================= */

        .galery {
            height: 1000px;
            margin-bottom: 60px;
        }

        section.galery {
            padding: 0 10px;
        }

        .grid-4-columns {
            grid-template-columns: 1fr;
        }

        .img-gal {
        width: 170px;
        }
    
    /* =========================
    CHANGE TO FOOTER
    ========================= */

        .bottom-sec {
            text-align: center;
            margin-top: 20px;
            background-color: rgba(245, 178, 102, 0.117);
            height: 20px;
            width: 100%;
            padding: 0;
            display: block;
            bottom: 0;
        }

        .copyr-home p {
            padding-left: 0;
            padding-top: 0;
        }


    }