* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f3f0, #e8ecef);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}



.cont-card {
  padding: 1.5rem;
  width: 100%;
  max-width: 500px;
}

.card {
  background: #ffffff;
  padding: 2.5rem 2rem;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.card h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.card p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #555;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #ff7561;
  color: #fff;
  text-decoration: none;
  border-radius: 999px;
  font-size: 0.95rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #ff7561;
  transform: translateY(-2px);
}

/* =========================
   FOOTER SECTION
========================= */


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}

.copyr-home {
    padding: 40px 10px 10px 10px;
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
    background-color: var(--secondary-color);
}