:root {
    --branding-color: #ff7561;
    --primary-color: hsla(8, 100%, 69%, 0.129);
    --secondary-color: hsla(32, 88%, 68%, 0.267);
    --background-color: rgba(255, 255, 255, 0.2);
    --text-color: rgb(107, 103, 103);
}


.search-bar {
    background-color: var(--secondary-color);
    padding-right: 255px;
}

.btn-search {
    color: var(--branding-color);
    background: white;
}

.btn-search:hover {
    color: var(--branding-color);
    border-color: var(--branding-color);
}

.logo {
    max-height: 60px;
}

.logo-pag {
    max-height: 120px;
    }

.navbar-light:hover {
    color: var(--branding-color);
}

.fixed-bar {
    font-size: 20px;
    padding-left: 290px;
    padding-right: 260px;
}

.navbar-align {
    text-align: right;
    padding-left: 250px;
    margin-left: 300px;
}

.active {
    color: var(--branding-color) !important;
}

.top-body {
    padding: 160px 20px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),url(bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.blog-box {
    font-family: 'Arizonia', cursive;
    font-size: 150px;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(245, 178, 102, 0.179);
    margin: 0;
}

.box {
    color: white;

}

.trip-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../media/bridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
    
    margin: 0 auto;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 50px;
}

h3 {
    padding: 0;
}

/* .main-desc {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 100px;
} */

/* .places {
    background-color: var(--secondary-color);
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 100px;
} */

.main-desc h2 {
    color: var(--branding-color);
    opacity: 1;
}

.main-desc p {
    font-size: 20px;
    text-align: center;
    opacity: 0.8;
}


.mid-title {
    color: var(--text-color);
    text-align: center;
    background-color: var(--secondary-color);
    padding: 10px 30px;
    margin: 10px 0;
}

.mid-section {
    color: var(--text-color);
    text-align: center;
    padding: 10px 30px;
}

.col-4 :hover{
    color: var(--branding-color);
    cursor: pointer;
}

    
section.secondary {
    background-color: white;
    padding: 50px 100px;
    }

.podsec-home {
    background-color: var(--secondary-color);
    padding: 60px;
}

section.primary {
    background-color: var(--secondary-color);
    padding: 80px 100px;
}



.embed {
    width: 100%;
    aspect-ratio: 1/1;
    }
      
.instagram-embeds {
    margin: 30px 60px;
    
    }


.grid {
    display: grid;
    grid-gap: 64px;
    }

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
    }

.grid-2-columns-first-narrow {
    grid-template-columns: 1fr 2fr;
    grid-gap: 0;
}

.grid-2-columns-second-narrow {
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
    }

.grid-3-columns-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
   }

.grid-3-columns-even {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.card {
   background-color: white;
   margin: 30px 0;
  }

.card-header.grid {
    grid-gap: 0;
    }

.card-body {
    padding: 20px;
    }
      
.card-bottom {
    padding: 0 30px 30px;
}

.card-bottom {
    padding: 0 30px 30px;
    }

.about-me {
    text-align: center;
}

.img-card {
    width: 50px;
    display: block;
    }

.front-pic {
    width: 250px;
    border-radius: 50%;
}

.trazando-pod {
    width: 300px;
    text-align: center;
    margin: 0 0 0 150px;
    padding: 0;
}

.about-podcast h2 {
    margin-left: 50px;
}

.about-podcast p {
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
}

.about-podcast-pic {
    text-align: center;
}

.pod-pic {
    width: 400px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px 8px rgb(172, 171, 171); */
}

.btn-pod a {
    margin-left: 250px;
}

.text-center {
    text-align: center;
    }

.btn-card {
        display: block;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 16px;
        background-color: #ff7661a8;
        text-decoration: none;
      }

.btn-card:hover {
    color: white;
    background-color: var(--branding-color);
}


      
section h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        letter-spacing: 5px;
        color: #272044;
        opacity: 0.3;
        text-transform: uppercase;
      }
      
section h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        color: #272044;
        margin: 0;
      }


      
.carousel {
    text-align: center;
    position: absolute;
}

.carousel-inner {
    max-width: 900px;
}

.galery {
    height: 400px;
    padding: 0 100px;
    margin: 50px 0;
}

footer {
    height: 70px;
}

.bottom-sec {
    width: 100%;
    padding: 20px 0px;
    background-color: rgba(245, 178, 102, 0.117);
    height: 70px;
    display: flex;
}


.bottom-sec p {
    padding-top: 10px;
    font-size: 12px;
}


.bottom-sec i {
    text-align: right;
    margin: 0 10px;
    color: white;
    background:#ff7661a8;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.bottom-sec i:hover {
    color: white;
    background: var(--branding-color);
}

.social-home {
    float: right;
    margin: auto auto auto 350px;
}

.social-links-blog a{
    margin: 30px 10px;
    color: white;
    background: var(--branding-color);;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.social-links-blog a:hover {
    color: var(--secondary-color);
    background: white;
}

.grid-footer {
    grid-gap: 0px;
}

.grid-footer-home {
    display: inline;
}

.card h3 {
    padding: 0 0 15px 0;
}

.copyr {
    padding: 20px 0px 20px 0;
    font-size: 12px;
    color: var(--text-color);
}

.card-footer {
    padding: 0 30px 30px;
  }

.leftcolumn {
    float: left;
    width: 75%;
  }

  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  .fakeimg {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 20px;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.leftcolumn h2, .rightcolumn h2 {
    font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        color: #272044;
        margin: 0;
}

.leftcolumn h5 {
    font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        letter-spacing: 5px;
        color: #272044;
        opacity: 0.3;
        text-transform: uppercase;
}

.leftcolumn p,  .rightcolumn p {
    font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.img-responsive {
    width: 100%;
    display: block;
  }

.img-profile {
    width: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-space {
    padding: 0 0 20px 0;
}

.img-blog {
    width: 250px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(172, 171, 171);
}


.left-note {
    text-align: center;
    padding: 20px 0;
}

.right-note {
    padding: 20px 50px;
}

.post-desc {
    text-align: justify;
}

.blog-posts {
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(172, 171, 171);
}

.btn-read {
    color: var(--branding-color);
    background: white;
    border: 1px solid var(--branding-color);
    padding: 5px 30px 8px;
    border-radius: 10px;
}

.btn-read:hover {
    color: white;
    background-color: var(--branding-color);
}




@media (max-width: 960px) {

    .fixed-bar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-align {
        padding-left: 0;
        margin-left: 0;
    }

    .main-body {
        padding: 80px 10px;
    }

    .box {
        font-size: 50px;
    }

    .right-note {
        padding: 20px 25px;
    }

    h1 {
        font-size: 45px;
    }

    .leftcolumn h2, .rightcolumn h2 {
            font-size: 25px;
        }
    
    .leftcolumn h5 {
            font-size: 12px;
        }

    .logo {
        max-height: 110px;
    }

    .about-me-desc {
        text-align: center;
    }

    .btn-home {
        margin-left: 300px;
    }

    .btn-pod {
        margin-left: 340px;
    }

    .bottom-sec {
        text-align: center;
        padding: 0;
        height: 60px;
        bottom: 0;
        margin-top: 20px;
        display: block;
    }

    .bottom-sec p {
        padding-left: 300px;
    }


    .social-home{
        display: none;
    }

    .galery {
        margin-bottom: 60px;
        height: 1200px;
    }

    .copyr-home p {
        padding-left: 0;
        padding-top: 25px;
    }

    .search-bar {
        background-color: var(--secondary-color);
        padding-right: 230px;
    }

    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
      }

      .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
      }
  
      .card-header img {
        display: none;
      }
  
      .embed {
        aspect-ratio: 16 /9;
      }

      .search-bar {
        display: none;
      }

      .left-note {
        display: none;
      }

      .img-profile {
        width: 150px;
      }

      .leftcolumn p {
        text-align: justify;
      }

    

      .btn-space {
        text-align: center;
      }


    }

    @media (max-width: 750px) {

        .about-me-desc {
            text-align: center;
        }

        .btn-home {
            margin-left: 60px;
        }

        .galery {
            height: 1220px;
            margin-bottom: 20px;
        }

        .bottom-sec {
            text-align: center;
            margin-top: 20px;
            background-color: rgba(245, 178, 102, 0.117);
            height: 70px;
            width: 100%;
            padding: 0;
            display: block;
            bottom: 0;
        }

        .copyr-home p {
            padding-left: 0;
            padding-top: 25px;
        }

        section.primary {
            padding: 30px 50px;
        }

        section.secondary {
            padding: 50px 30px;
        }

        section.podsec-home {
            padding: 0 0 40px 0;
            
        }

        section.podsec-home.grid {
            grid-template-columns: 400px;
        }

        .about-podcast {
            margin: 0;
        }

        .trazando-pod {
            width: 250px;
            margin: 0 0 0 100px;
        }

        .about-podcast p {
            margin: 0;
            padding: 0 20px;
            font-size: 18px;
        }

        .pod-pic {
            width: 300px;
        }


        section.galery {
            padding: 0 10px;
        }

    }