:root {
    --branding-color: #ff7561;
    --primary-color: hsla(8, 100%, 69%, 0.129);
    --secondary-color: hsla(32, 88%, 68%, 0.267);
    --background-color: rgba(255, 255, 255, 0.2);
    --text-color: rgb(107, 103, 103);
}

.fixed-bar {
    font-size: 15px;
    padding-left: 20%;
}

.logo {
    max-height: 40px;
}


.navbar-align {
    text-align: right;
    padding-left: 50%;
}

.active {
    color: var(--branding-color) !important;
}


/* =========================
   HERO SECTION
========================= */


.blog-box {
    font-family:'Courier New', Courier, monospace;
    font-size: 150px;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(245, 178, 102, 0.179);
    margin: 0;
}

.box {
    color: white;

}

/* =========================
   POSTS ROW
========================= */

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.leftcolumn {
    float: left;
    width: 75%;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 30px 0;
  }

.blog-posts {
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(172, 171, 171);
}

.grid {
    display: grid;
    grid-gap: 64px;
    }

.grid-2-columns-first-narrow {
    grid-template-columns: 1fr 2fr;
    grid-gap: 0;
}

.grid-2-columns-second-narrow {
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
}

.left-note {
    text-align: center;
    padding: 20px 0;
}

.img-blog {
    width: 250px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(172, 171, 171);
}

.right-note {
    padding: 20px 50px;
}

.post-desc {
    text-align: justify;
}



.btn-read {
    color: var(--branding-color);
    background: white;
    border: 1px solid var(--branding-color);
    padding: 5px 30px 8px;
    border-radius: 10px;
}

.btn-read:hover {
    color: white;
    background-color: var(--branding-color);
}

.leftcolumn h2, .rightcolumn h2 {
    font-weight: 700;
        font-size: 40px;
        line-height: 1.5;
        color: #272044;
        margin: 0;
}

.leftcolumn h5 {
    font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        letter-spacing: 5px;
        color: #272044;
        opacity: 0.3;
        text-transform: uppercase;
}

.leftcolumn p,  .rightcolumn p {
    font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

/* =========================
   RIGHT COLUMN
========================= */

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

.text-center {
    text-align: center;
}

.img-profile {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-space {
    padding: 0 0 20px 0;
}

.social-links-blog a{
    margin: 30px 10px;
    color: white;
    background: var(--branding-color);;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.social-links-blog a:hover {
    color: var(--secondary-color);
    background: white;
}

.btn-card {
        display: block;
        color: white;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 16px;
        background-color: #ff7661a8;
        text-decoration: none;
      }

.btn-card:hover {
    color: white;
    background-color: var(--branding-color);
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 50px;
}

h3 {
    padding: 0;
}

.card h3 {
    padding: 0 0 15px 0;
}


/* =========================
   FOOTER
========================= */

.copyr {
    padding: 20px 0px 20px 0;
    font-size: 12px;
    color: var(--text-color);
}


@media (max-width: 960px) {

.fixed-bar {
    padding-left: 0;
    padding-right: 0;
}

.navbar-align {
    padding-left: 0;
    margin-left: 0;
}

.box {
        font-size: 50px;
    }

    .right-note {
        padding: 20px 25px;
    }

    h1 {
        font-size: 45px;
    }

    .leftcolumn h2, .rightcolumn h2 {
            font-size: 25px;
        }
    
    .leftcolumn h5 {
            font-size: 12px;
        }



.leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
      }

      .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
      }


.btn-space {
    text-align: center;
}

.left-note {
    display: none;
}

      .img-profile {
        width: 150px;
      }

}