:root {
    --branding-color: #ff7561;
    --primary-color: hsla(8, 100%, 69%, 0.129);
    --secondary-color: rgba(245, 178, 101, 0.267);
    --background-color: rgba(255, 255, 255, 0.2);
    --text-color: rgb(107, 103, 103);
}

.logo {
    max-height: 60px;
}

.navbar-light:hover {
    color: var(--branding-color);
}

.fixed-bar {
    font-size: 20px;
    padding-left: 290px;
    padding-right: 260px;
}

.navbar-align {
    text-align: right;
    padding-left: 250px;
    margin-left: 300px;
}

.text-color {
    color: black !important;
}

.active {
    color: var(--branding-color) !important;
}

.main-body {
    color: var(--text-color);
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 50px;
}

h3 {
    padding: 0;
}

.mid-section {
    color: var(--text-color);
    text-align: center;
    background: var(--background-color);
    padding: 0;
}

footer .contact-box {
    color: var(--text-color);
    font-size: 30px;
    background: var(--secondary-color);
    font-weight: bold;
    padding: 30px 120px;
    border-radius: 7px;
}

footer .social-links a{
    margin: 0 30px;
    color: var(--branding-color);
    background: white;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
}

@media (max-width: 900px) {

    .fixed-bar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-align {
        padding-left: 0;
        margin-left: 0;
    }

    .main-body {
        padding: 80px 10px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 25px;
    }

}


